1. Convert the date column to datetime format.
1. Select stock price data only from 2,000 onwards.
1. Set ticker and date as index.
1. Keep only the adjusted open, low, high, close, and volume (OHLCV) prices, and rename by removing the adj_ prefix.
1. Store it in HDF5 format for fast access.

In [1]:
%load_ext dotenv
%dotenv

In [7]:
import os
from os.path import exists

import quandl

quandl.ApiConfig.api_key = os.getenv("QUANDL_API_KEY")
exists("WIKI_PRICES_table.zip") or quandl.export_table("WIKI/PRICES", filename="WIKI_PRICES_table.zip")

In [8]:
!unzip WIKI_PRICES_table.zip
!gzip WIKI_PRICES_*.csv
!mv WIKI_PRICES_*.csv.gz us_stocks.csv.gz

Archive:  WIKI_PRICES_table.zip
  inflating: WIKI_PRICES_212b326a081eacca455e13140d7bb9db.csv

In [9]:
import pandas as pd

# Convert the date column to datetime format.
df = pd.read_csv("us_stocks.csv.gz", parse_dates=["date"])
df

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
0,A,1999-11-18,45.50,50.00,40.0000,44.00,44739900.0,0.0,1.0,31.041951,34.112034,27.289627,30.018590,44739900.0
1,A,1999-11-19,42.94,43.00,39.8100,40.38,10897100.0,0.0,1.0,29.295415,29.336350,27.160002,27.548879,10897100.0
2,A,1999-11-22,41.31,44.00,40.0600,44.00,4705200.0,0.0,1.0,28.183363,30.018590,27.330562,30.018590,4705200.0
3,A,1999-11-23,42.50,43.63,40.2500,40.25,4274400.0,0.0,1.0,28.995229,29.766161,27.460188,27.460188,4274400.0
4,A,1999-11-24,40.13,41.94,40.0000,41.06,3464400.0,0.0,1.0,27.378319,28.613174,27.289627,28.012803,3464400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15389309,ZUMZ,2018-03-21,23.80,24.60,23.6058,23.95,354092.0,0.0,1.0,23.800000,24.600000,23.605800,23.950000,354092.0
15389310,ZUMZ,2018-03-22,23.90,24.35,23.3000,23.35,269607.0,0.0,1.0,23.900000,24.350000,23.300000,23.350000,269607.0
15389311,ZUMZ,2018-03-23,23.55,24.20,23.4500,23.55,301584.0,0.0,1.0,23.550000,24.200000,23.450000,23.550000,301584.0
15389312,ZUMZ,2018-03-26,23.75,24.80,23.7000,24.65,375320.0,0.0,1.0,23.750000,24.800000,23.700000,24.650000,375320.0
15389313,ZUMZ,2018-03-27,24.65,24.65,23.3500,23.60,403884.0,0.0,1.0,24.650000,24.650000,23.350000,23.600000,403884.0

In [10]:
df.dtypes

ticker                 object
date           datetime64[ns]
open                  float64
high                  float64
low                   float64
close                 float64
volume                float64
ex-dividend           float64
split_ratio           float64
adj_open              float64
adj_high              float64
adj_low               float64
adj_close             float64
adj_volume            float64
dtype: object

In [11]:
# Select stock price data only from 2000 onwards.
df = df[df.date >= '2000-01-01']
df

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
30,A,2000-01-03,78.75,78.94,67.3800,72.00,3343600.0,0.0,1.0,53.726454,53.856080,45.969377,49.121329,3343600.0
31,A,2000-01-04,68.13,68.88,64.7500,66.50,3408500.0,0.0,1.0,46.481058,46.992738,44.175084,45.369006,3408500.0
32,A,2000-01-05,66.25,66.31,61.3100,61.56,4119200.0,0.0,1.0,45.198445,45.239380,41.828176,41.998737,4119200.0
33,A,2000-01-06,61.63,62.00,58.1300,60.00,1812900.0,0.0,1.0,42.046493,42.298923,39.658651,40.934441,1812900.0
34,A,2000-01-07,59.06,65.94,59.0000,65.00,2016900.0,0.0,1.0,40.293135,44.986951,40.252200,44.345645,2016900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15389309,ZUMZ,2018-03-21,23.80,24.60,23.6058,23.95,354092.0,0.0,1.0,23.800000,24.600000,23.605800,23.950000,354092.0
15389310,ZUMZ,2018-03-22,23.90,24.35,23.3000,23.35,269607.0,0.0,1.0,23.900000,24.350000,23.300000,23.350000,269607.0
15389311,ZUMZ,2018-03-23,23.55,24.20,23.4500,23.55,301584.0,0.0,1.0,23.550000,24.200000,23.450000,23.550000,301584.0
15389312,ZUMZ,2018-03-26,23.75,24.80,23.7000,24.65,375320.0,0.0,1.0,23.750000,24.800000,23.700000,24.650000,375320.0
15389313,ZUMZ,2018-03-27,24.65,24.65,23.3500,23.60,403884.0,0.0,1.0,24.650000,24.650000,23.350000,23.600000,403884.0

In [12]:
# Set ticker and date as index
df = df.set_index(["ticker", "date"])
df

                    open   high      low  close     volume  ex-dividend  \
ticker date
A      2000-01-03  78.75  78.94  67.3800  72.00  3343600.0          0.0
       2000-01-04  68.13  68.88  64.7500  66.50  3408500.0          0.0
       2000-01-05  66.25  66.31  61.3100  61.56  4119200.0          0.0
       2000-01-06  61.63  62.00  58.1300  60.00  1812900.0          0.0
       2000-01-07  59.06  65.94  59.0000  65.00  2016900.0          0.0
...                  ...    ...      ...    ...        ...          ...
ZUMZ   2018-03-21  23.80  24.60  23.6058  23.95   354092.0          0.0
       2018-03-22  23.90  24.35  23.3000  23.35   269607.0          0.0
       2018-03-23  23.55  24.20  23.4500  23.55   301584.0          0.0
       2018-03-26  23.75  24.80  23.7000  24.65   375320.0          0.0
       2018-03-27  24.65  24.65  23.3500  23.60   403884.0          0.0

                   split_ratio   adj_open   adj_high    adj_low  adj_close  \
ticker date
A      2000-01-03          1.0  53.726454  53.856080  45.969377  49.121329
       2000-01-04          1.0  46.481058  46.992738  44.175084  45.369006
       2000-01-05          1.0  45.198445  45.239380  41.828176  41.998737
       2000-01-06          1.0  42.046493  42.298923  39.658651  40.934441
       2000-01-07          1.0  40.293135  44.986951  40.252200  44.345645
...                        ...        ...        ...        ...        ...
ZUMZ   2018-03-21          1.0  23.800000  24.600000  23.605800  23.950000
       2018-03-22          1.0  23.900000  24.350000  23.300000  23.350000
       2018-03-23          1.0  23.550000  24.200000  23.450000  23.550000
       2018-03-26          1.0  23.750000  24.800000  23.700000  24.650000
       2018-03-27          1.0  24.650000  24.650000  23.350000  23.600000

                   adj_volume
ticker date
A      2000-01-03   3343600.0
       2000-01-04   3408500.0
       2000-01-05   4119200.0
       2000-01-06   1812900.0
       2000-01-07   2016900.0
...                       ...
ZUMZ   2018-03-21    354092.0
       2018-03-22    269607.0
       2018-03-23    301584.0
       2018-03-26    375320.0
       2018-03-27    403884.0

[11343920 rows x 12 columns]

In [13]:
# Keep only the adjusted open, low, high, close, and volume (OHLCV) prices, and rename by removing the adj_ prefix
df = df[["adj_open", "adj_high", "adj_low", "adj_close", "adj_volume"]]
df.columns = df.columns.str.lstrip("adj_")
df

                        open       high        low      close     volume
ticker date
A      2000-01-03  53.726454  53.856080  45.969377  49.121329  3343600.0
       2000-01-04  46.481058  46.992738  44.175084  45.369006  3408500.0
       2000-01-05  45.198445  45.239380  41.828176  41.998737  4119200.0
       2000-01-06  42.046493  42.298923  39.658651  40.934441  1812900.0
       2000-01-07  40.293135  44.986951  40.252200  44.345645  2016900.0
...                      ...        ...        ...        ...        ...
ZUMZ   2018-03-21  23.800000  24.600000  23.605800  23.950000   354092.0
       2018-03-22  23.900000  24.350000  23.300000  23.350000   269607.0
       2018-03-23  23.550000  24.200000  23.450000  23.550000   301584.0
       2018-03-26  23.750000  24.800000  23.700000  24.650000   375320.0
       2018-03-27  24.650000  24.650000  23.350000  23.600000   403884.0

[11343920 rows x 5 columns]

In [14]:
# Store it in HDF5 format for fast access.
df.to_hdf("simplified_quandl_ds.h5", key="df", mode="w")